body {
    background-color: orange;
    font-family: "Times New Roman";
}

header {
    background-color: beige;
}

ul {
    margin: auto;
    padding: 40px;
    text-align: center;
}

li {
    display: inline-block;
    alignment: center;
    width: 100px;
    font-size: 32px;
}
p {
    font-size: 24px;
}


.Skills {
    display: inline-grid;
    border: 2px black solid;
    height: 75%;
    width: 50%;
    grid-template: 20% 80% / auto auto auto;
    align-self: right;
}

.box {
    background-color: blue;
    color: orange;
    border: 2px black;
}
